<h1> Welcome to the main page </h1>

<h2>  <a href="/products/impact "> View your impact </a> </h2>

<h2> <a href="/products/new"> Record a new product </a></h2>

<h2> <a href="/tips"> Get a tip of the day </h2>
