<h1> What the Plastic!?  </h1>
<p> App to help you tracking your plastic use and understand your impact on the planet. </p>

<button class="btn_landing"> <a href="/products/impact "> View your impact </a> </button>

<button class="btn_landing"> <a href="/products/new"> Record a product </a> </button>

<button class="btn_landing"> <a href="/tips"> Tip of the day </a> </button>
