<div class="bg-img bg-img__cover"></div>

<div class="welcome_container">
<h1 class="welcome"> What the Plastic!?  </h1>
</div>

<div class="main">

<button class="btn_landing"> <a href="/products/impact "> View your impact </a> </button>
<button class="btn_landing"> <a href="/products/new"> Record a product </a> </button>

</div>
