<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> PlasticFree </title>
  </head>
  <body>
    <main class="flex flex--column">
  <nav>
    <ul>
      <li>
        <a href="/products">My purchases</a>
      </li>
      <li>
        <a href="/plastics">My world of plastic</a>
      </li>
      <li>
        <a href="/tags">Categories</a>
      </li>
      <!-- <li> <a href="/index"> Homepage </li> -->
    </ul>
  </nav>

    <%= yield %>
  </body>
</html>
