<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> PlasticFree </title>
  <link rel="icon" href="/images/bottle.png" />

  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">

  <!-- <link rel="stylesheet" href="styles/landing_styles.css"> -->
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item">
        <a href="/"> Home
      </li>
      <li class="main-nav__item">
        <a href="/products">My purchases</a>
      </li>
      <li class="main-nav__item">
        <a href="/plastics">Plastics</a>
      </li>
      <li class="main-nav__item">
        <a href="/tags">Categories</a>
      </li>
      <li class="main-nav__item">
        <a href="/tips">Tip of the day</a>
      </li>
      <li class="main-nav__item">
        <a href="/products/impact">My impact</a>
      </li>
    </ul>
  </nav>
    <%= yield %>
</body>
</html>
