<h1 class="intro"> What will you do today to save plastic you wonderful human? </h1>


<div class="tip_box">
  <p class="tip_box_text"> <%= @tips.sample %></p>
  <img src= "/images/blue_bottle.png" width='90px'>
</div>

<div class="info_bar">
  <h3> Do you need inspiration? </h3>
</div>

<p> The websites below can help you taking action on reducing your plastic waste. Click on the image to find out more about the programmes and initiatives that support people reducing plastic waste.  </p>

<div class="info_photos">
<a href="http://www.bbc.co.uk/programmes/articles/1FlfcGGKPSWv3m7JdfBT5dv/get-involved-with-ocean-conservation" target="_blank"><img class="photo" src="https://www.ncpeace.org/wp-content/uploads/2018/01/plastic-ocean.jpg"></a>
<a href="https://www.greenpeace.org.uk/9-ways-reduce-plastic-use/" target="_blank"><img class="photo" src="https://images.freeimages.com/images/large-previews/e61/pile-of-trash-1568889.jpg"></a>
<a href="https://www.zerowastescotland.org.uk/our-work/plastics" target="_blank"><img class="photo" src="https://futureoftheocean.files.wordpress.com/2017/11/plastic-straws-helen-lockhart-two-oceans.jpg?w=1134"></a>
</di>


<div class="info_boxes">
<h3 class="info_box">  BBC Blue Planet </h3>
<h3 class="info_box"> See more ways to reduce plastic </h3>
<h3 class="info_box"> Take local action </h3>
</div>
