<h1> All tags </h1>

<table>
  <tr>
    <th> Name: </th>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <% for tag in @tags %>
    <td> <%= tag.category %> </td>
    <td> <a href = "/tags/<%= tag.id%>"> Show details </a> </td>
    </form> </td>
  </tr>
  <% end %>
</table>


<button class="btn"> <a href = "/tags/new"> Create new tag </a></button>
<button class="btn"><a href="/"> Go Back </a></button>
