<h1> Create a new category for your products </h1>

<form class="new_tag" action="/tags" method="post">
  <label for="category"> New category</label>
  <input id="category" type="text" name="category">
  <input type="submit" value="Add category">
</form>
