* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 10px;
  padding: 1px;
}

h1 {
  margin: 15px 10px;
}

.main-nav {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    font-weight: bold;
    background-color: #0D2557;
    color: white;
    font-size: 20px;
  }

.main-nav__item {
    display: inline-block;
    margin: 10px 10px;
    padding: 3px 0;
    color: white;
}

.main-nav__item a:hover,
.main-nav__item a:visited,
.main-nav__item a:active {
    color: white;
}
