table {
  border-collapse: collapse;
  margin: 10px;
  table-layout: fixed;
}

tr {
  text-align: left;
  word-wrap:break-word;
}

td, th {
  text-align: left;
  margin: 10px;

}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid papayawhip;
  word-wrap:break-word;
}
