<h1> Create a new product </h1>

<form class="new product" action="/products" method="post">

  <label for="name"> What did you buy?</label>
  <input id = "name" type="text" name="name"> </br>

  <label for="date"> When did you buy it?</label>
  <input id = "date" type="date" name="time_stamp"></br>

  <label for="quantity"> How many did you buy?</label>
  <input id = "quantity" type="number" name="quantity"> </br>

  <label for="avoidability"> Could you have avoided it?</label>
  <select id = "avoidability" type="checkbox" name="avoidability">
    <option label=" "></option>
    <option value="true"> Yes </option>
    <option value="false"> No </option> </br> </br>

  <select >
  <label for="plastic_select"  >Which type of plastic was it?</label>
    <select name="plastic_id" id="plastic_select">
      <option label=" "></option>
      <% for plastic in @plastics %>
      <option value="<%= plastic.id %>"><%= plastic.type %></option>
      <% end %>
  </select> </br> </br>

    <label for="tag_select"> Which category was it? </label>
    <select name="tag_id" id="tag_select">
      <option label=" "></option>
      <% for tag in @tags %>
      <option value="<%=tag.id%>"><%= tag.category %></option>
      <% end %>
    </select>

  </br>

    <input type="submit" value="Record new product">

</form>

<button class="btn"> <a href="/products"> Go back to products </a> </button>
